[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imbalanced-learn = "*"
joblib = "==1.0.*"
jupyterlab = "~=3.0.6"
matplotlib = "==3.3.*"
numpy = "==1.20.*"
pandas = "==1.2.*"
scikit-learn = "==0.24.*"
xgboost = "*"
hyperopt = "*"

[dev-packages]

[requires]
python_version = "3.9"
